.gameStart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 5px solid red;
  min-height: 100vh;
}

.start-btn {
  display: block;
  background-color: beige;
  height: 20vh;
  width: 20vh;
  border-radius: 50%;
  border: 5px solid blue;
  color: red;
  margin-top: 3rem;
}

.start-h1 {
  display: block;
  font-size: 4rem;
  color: blue;
  border: 5px solid pink;
}
#game {
  width: 600px;
  height: 600px;
  position: relative;
  border: 3px solid red;
  margin: auto;
  overflow: hidden;
}
